<h1>Snake Listings</h1>

<% @listings.each do |listing| %>
<div class="card">
  <%= image_tag listing.picture if listing.picture.attached? %>
  <p><%= listing.title %></p>
  <p><%= "#{listing.city}, #{listing.state}" %></p>
  <p><%= listing.date_of_birth %></p>
  <p><%= listing.price %></p>
<%= link_to "view", listing_path(listing) %>
<%= link_to "edit", edit_listing_path(listing.id) if current_user.id == listing.user.id %>
</div>
<% end %>